POSTGRES_USER=apple123
POSTGRES_PASSWORD=erjisadiwuyeuiewe2323
POSTGRES_DB=test_project
POSTGRES_PORT=5432

DATABASE_URL="postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:5432/POSTGRES_DB?schema=public"